<div class="container-text">
    <div class="container-text-title">{{ _slide.title }}<br></div>
    <div class="container-text-label">{{ _slide.label }}<br></div>
    <div class="container-text-text">{{ _slide.text | raw }}<br></div>
    <div class="container-text-text-border"></div>
    {% if _slide.button is defined %}
        <button class="button-pop">{{ _slide.button }}</button>
    {% endif %}
</div>
{% if _slide.button is defined %}
    <div class="container-popups">
        {% for _popup in _slide.popups %}
            <div class="bar-pop">
                <h5>{{ _popup.title }}</h5>
                <div>{{ _popup.text | raw }}</div>
                {% if _popup.image is defined %}
                    <img src="{{ base_url() }}/assets/images/{{ _popup.image }}" alt="{{ loop.index }}">
                {% endif %}
                <span class="close">&#x2715;</span>
            </div>
        {% endfor %}
    </div>
{% endif %}