{% for _circle in _slide.circles %}
    <div class="container-circle container-{{ loop.index }}">
        <figure class="chart chart-{{ loop.index }}">
            <svg>
                <circle class="circle-around"/>
                <circle class="circle-background"/>
                <circle class="circle-foreground"/>
            </svg>
            <figcaption></figcaption>
            <span class="label">{{ _circle.text }}</span>
        </figure>
        <span class="prev {{ loop.first ? 'hidden' }}"></span>
        <span class="next {{ loop.last ? 'hidden' }}"></span>
    </div>
{% endfor %}