<div class="slide1-container1">
    <div class="slide1-bar1">
        <div class="slide1-bar1-fill"></div>
    </div>
    <div class="slide1-text-container">
        <span class="slide1-subtitle">{{ chapter.slides.slide_2.bar_1.title }}<br></span>
        <span class="slide1-number">{{ chapter.slides.slide_2.bar_1.number }}<br></span><p class="slide1-text">{{ chapter.slides.slide_2.bar_1.text }}</p>
    </div>
</div>
<div class="slide1-container2">
    <div class="slide1-bar2">
        <div class="slide1-bar2-fill"></div>
    </div>
    <div class="slide1-text-container">
        <span class="slide1-subtitle">{{ chapter.slides.slide_2.bar_2.title }}<br></span>
        <span class="slide1-number">{{ chapter.slides.slide_2.bar_2.number }}<br></span><p class="slide1-text">{{ chapter.slides.slide_2.bar_2.text }}</p>
    </div>
</div>
<div class="slide1-container3">
    <div class="slide1-bar3"></div>
    <div class="slide1-text-container">
        <span class="slide1-subtitle">{{ chapter.slides.slide_2.bar_3.title }}<br></span>
        <span class="slide1-number">{{ chapter.slides.slide_2.bar_3.number }}<br></span><p class="slide1-text">{{ chapter.slides.slide_2.bar_3.text }}</p>
    </div>
</div>