{% extends 'index.twig' %}

{% block html %}

    {% embed './partials/head.twig' %}
        {% block title %}L'or bleu | Chapitre {{ chapter.number }}{% endblock %}
    {% endembed %}

    {% embed './partials/body.twig' %}
        {% block body %}
            <div id="barba-wrapper">
                <div class="barba-container">
                    <h2 class="chapter-header" data-baseurl="{{ base_url() }}/">
                        <a class="home" href="{{ path_for('home') }}" title="L'or bleu">L'or bleu</a> &#62; <a class="chapters" href="{{ path_for('explorer') }}" title="Explorer">Explorer</a>
                    </h2>
                    <h1 class="chapter-title" data-baseurl="{{ base_url() }}/">{{ chapter.title | raw }}</h1>
                    <span class="slide-chapter">Chapitre</span>
                    <span class="slide-chapter-number">2</span>
                    <div class="slide-chapter-line"></div>
                    <div class="slide-chapter-text">
                        <h3 class="slide-title">
                            L'utilisation de l'eau<br>
                            Dans nos sociétés
                        </h3>
                        Entre agriculture, industrie et quotidien, la quantité d’eau a drastiquement diminué au cours de ces dernières années.
                    </div>
                    <div class="chapter2-container-circles">
                        <div class="chapter2-line1"></div>
                        <div class="chapter2-line2"></div>
                        <div class="chapter2-circle1"></div>
                        <div class="chapter2-circle2"></div>
                        <div class="chapter2-circle3"></div>
                        <div class="chapter2-circle4"></div>
                        <p class="circle-text">
                            <span class="circle-number">70%</span> <br>
                            Agriculture
                        </p>
                    </div>
                    <div class="chapter-medias-button">
                        {% include './layouts/lock.twig' %}
                        <span class="chapter-medias-text">Medias</span>
                    </div>
                    {% include './layouts/sidebar.twig' %}
                    {% include './layouts/menu.twig' %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}