{% extends 'index.twig' %}

{% block html %}

    {% embed './partials/head.twig' %}
        {% block title %}L'or bleu | Chapitre {{ chapter.number }}{% endblock %}
    {% endembed %}

    {% embed './partials/body.twig' %}
        {% block body %}
            <div id="barba-wrapper">
                <div class="barba-container">
                    <h2 class="chapter-header" data-baseurl="{{ base_url() }}/">
                        <a class="home" href="{{ path_for('home') }}" title="L'or bleu">L'or bleu</a> &#62; <a class="chapters" href="{{ path_for('chapters') }}" title="Explorer">Explorer</a>
                    </h2>
                    <h1 class="chapter-title" data-baseurl="{{ base_url() }}/">{{ chapter.title | raw }}</h1>
                    <span class="slide-chapter">Chapitre</span>
                    <span class="slide-chapter-number">1</span>
                    <div class="slide-chapter-line"></div>
                    <div class="slide-chapter-text">
                        <h3 class="slide-title">
                            LA QUANTITÉ D’EAU<br>
                            À LA SURFACE DE LA TERRE
                        </h3>
                        L’eau qui coule de nos robinets semble infinie mais cette ressource naturelle se transforme peu à peu en valeur marchande.
                    </div>
                    <div class="slide1-container1">
                        <div class="slide1-bar1">
                            <div class="slide1-bar1-fill"></div>
                        </div>
                        <div class="slide1-text-container">
                            <span class="slide1-subtitle">Géants de l'eau<br></span>
                            <span class="slide1-number">60 %<br></span><p class="slide1-text">des ressources naturelles d’eau douce sont partagées entre 9 pays. Le monde en compte 197.</p>
                        </div>
                    </div>
                    <div class="slide1-container2">
                        <div class="slide1-bar2">
                            <div class="slide1-bar2-fill"></div>
                        </div>
                        <div class="slide1-text-container">
                            <span class="slide1-subtitle">Inaccesible<br></span>
                            <span class="slide1-number">10 %<br></span><p class="slide1-text">de la population mondiale n’a pas accès à l’eau potable. Soit 748 millions d’humains.</p>
                        </div>
                    </div>
                    <div class="slide1-container3">
                        <div class="slide1-bar3"></div>
                        <div class="slide1-text-container">
                            <span class="slide1-subtitle">Course contre la montre<br></span>
                            <span class="slide1-number">5 Humains<br></span><p class="slide1-text">meurent toutes les minutes parce qu’ils n’ont pas accès à l’eau potable.</p>
                        </div>
                    </div>
                    <div class="chapter-explore-button">
                        {% include './layouts/cursor.twig' %}
                        <span class="chapter-explore-text">Explorer</span>
                    </div>
                    <div class="chapter-medias-button">
                        {% include './layouts/lock.twig' %}
                        <span class="chapter-medias-text">Medias</span>
                    </div>
                    {% include './layouts/sidebar.twig' %}
                    {% include './layouts/menu.twig' %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}